<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel = "stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <ul>
        <% if(locals.users)%>
        <% users.forEach(user=>{ %>
           <li> 
            ID:<%=users.id%> Name: <%= users.firstName %> <%= users.lastName  %>
           </li>
        <%})%>  
      </ul>
    </div>
    <a href="/create">Create a user</a>
    <script ></script>
  </body>
</html>